.text {
  position: relative;
  display: flex;
  align-items: center;
  gap: calc(var(--gap) / 2);
}

.text--primary {
  color: var(--primary);
}

.text--seconday {
  color: var(--secondary);
}

.text--accent {
  color: var(--accent);
}
