.Marker {
  border-radius: 50%;
  box-shadow: inset 0 -2px 3px rgba(0, 0, 0, .4);
}

.primary {
  background: var(--primary);
}

.secondary {
  background: var(--secondary);
}

.accent {
  background: var(--accent);
}

.success {
  background: var(--success);
}

.warning {
  background: var(--warning);
}

.error {
  background: var(--error);
}