.card {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap, 1.6rem);
  padding: var(--padding, 1.6rem);
  border-radius: var(--borderRadius, 0.8rem);
  background: var(--white, #ffffff);
  border: 1px solid var(--lightGray);
}

.card--shadow {
  filter: var(--component-card--filter);
}

.column {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  gap: var(--gap, 1.6rem);
}

.row {
  display: flex;
  align-items: center;
  /*justify-content: flex-start;*/
  justify-content: space-between;
  gap: var(--gap, 1.6rem);
}

.row--end {
  justify-content: flex-end;
}

/*
.row--mobile {
  flex-direction: column;
  //justify-content: center;
/*  align-items: flex-start;
}
*/

/* Small devices (landscape phones, 576px and up)*/
@media only screen and (max-width: 576px) {
  .row {
    //flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .row input {
    min-width: 250px;
  }
  /*.row button {
    width: 100%;
  }*/
}
